<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
    <!-- Header Menu -->

    <div class="header">
        <div class="header-menu">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </div>
        <div class="auth-buttons">
            <a href="#" id="login-btn"><i class="fas fa-sign-in xs"></i>Login</a>
            <a href="#" id="logout-btn" style="display: none;">Logout</a>
        </div>
    </div>
</div>

</html>